body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: rgb(27, 65, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-group button:hover {
    background-color: black;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.toggle-link {
    text-align: center;
    margin-top: 15px;
}

.toggle-link a {
    color: rgb(13, 143, 50);
    text-decoration: none;
    cursor: pointer;
}

.toggle-link a:hover {
    text-decoration: underline;
}
